.canvas-header {
  border-style: solid;
  border-width: 5px;
  border-color: black;
  width: 80%;
  height: 20%;

}

.colour-button {
  display: flex;
  overflow: initial;
  background-color: aqua;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.undo-button {
  font-size: 20px;
  margin: 10px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid rgb(163, 163, 163);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.undo-button:hover {
  
    background-color: rgb(163, 163, 163); /* Green */
    color: white;
  
}
.canvas {
  border-style: solid;
  border-width: 5px;
  border-color: grey;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-content: center;
  align-self: center;
  
 /* margin-top: 5em;*/
}

